<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Venmo</th>
      <th>Date</th>
      <th>Items</th>
      <th>Paid</th>
    </tr>
  </thead>
  <tbody>
    {% for order in orders %}
    <tr>
      <td>{{ order.customer_name }}</td>
      <td>{{ order.customer_email }}</td>
      <td>@{{ order.customer_venmo}}</td>
      <td>{{ order.created_at|date:"M d, Y h:i a" }}</td>
      <td>
        <ul>
          {% for item in order.items.all %}
            <li>
              {{ item.quantity }} × {{ item.product_name }} - {{ item.product_category }} ({{ item.size }})
              {% if item.back_name %}
                – "{{ item.back_name }}"
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </td>
      <td>
        <form class="text-center" method="post" action="{% url 'order:toggle_paid' order.id %}">
          {% csrf_token %}
          <input type="checkbox"  name="has_paid" onchange="this.form.submit()" {% if order.has_paid %}checked{% endif %}>
        </form>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">No orders yet.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
