{% load static %}
{% load crispy_forms_tags %}

<div class="table-responsive">
    <table class="table table-hover align-middle shadow-sm rounded overflow-hidden">
        <thead class="table-dark">
          <tr>
            <th>Product</th>
            <th>Category</th>
            <th>Color</th>
            <th>Cost</th>
            <th>Active</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
            <tr>
              <td>{{ product.name }}</td>
              <td>{{ product.category }}</td>
              <td>{{ product.color }}</td>
              <td>{{ product.cost }}</td>
              <td class="text-center">
                {% if product.active %}
                  <span class="badge bg-success">Yes</span>
                {% else %}
                  <span class="badge bg-danger">No</span>
                {% endif %}
              </td>
              <td>
                <div class="dropdown d-inline-block">
                  <button class="btn p-0 m-0 border-0 bg-transparent text-dark" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ...
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="actionDropdown">
                    <li>
                      <button type="button"
                              class="dropdown-item"
                              hx-get="{% url 'order:product_update' product.id %}"
                              hx-target="#dialog">
                          Edit
                      </button>
                    </li>
                    <li><button class="dropdown-item text-danger" type="button" hx-get="{% url 'order:product_delete' product.id %}" hx-target="#dialog">Delete</button></li>
                  </ul>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>