<div class="position-relative mb-3">
    {% if collection %}
      <h1>{{ collection.name }}</h1>
    {% else %}
      <h1>All Products</h1>
    {% endif %}
  <a href="{% url 'order:order_summary' %}"
     class="position-absolute top-50 end-0 translate-middle-y me-1 text-dark text-decoration-none cart-link"
     hx-get="{% url 'order:order_summary' %}"
     hx-target="#dialog">

    <i class="bi bi-cart4 fs-4 position-relative">
      {% if order_items %}
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger cart-badge">
          {{ order_items|length }}
        </span>
      {% endif %}
    </i>
  </a>
</div>