
#logo {
    width: 100px;
    height:70px;
    padding: 10px;
}

#backup-code-list {
    font-family: monospace;
}

@media print {
    .navbar {
        visibility: hidden;
        display: none;
    }
}

.form-label {
    font-size: 16px !important;
}


.card-hover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-hover:hover {
  transform: translateY(-5px); /* subtle lift */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); /* stronger shadow */
}

.card-title {
  color: #212529;
}

.cart-link .bi-cart4 {
  display: inline-block;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.cart-link:hover .bi-cart4 {
  transform: scale(1.1);
}

.cart-badge {
  font-size: 0.75rem;        /* smaller text */
  width: 1.5rem;             /* fixed size */
  height: 1.5rem;            /* makes it a perfect circle */
  display: flex;             /* center the number */
  align-items: center;
  justify-content: center;
  border: 2px solid white;   /* optional: nice outline */
  box-shadow: 0 0 3px rgba(0,0,0,0.3); /* subtle shadow */
}

.table-responsive {
  overflow: visible !important;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 1s ease-out forwards;
}


#cart-items-container::-webkit-scrollbar {
  width: 8px;
}

#cart-items-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

#cart-items-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

#cart-items-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#cart-sidebar {
  z-index: 9999;
}

#cart-overlay {
  z-index: 9998;
}
