{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="max-w-7xl mx-auto mt-12">

  <div class="flex justify-between items-center mb-4">

    <h2 class="text-3xl font-semibold text-stone-800">Order Summary</h2>

    <div class="flex items-center space-x-3">
          <form id="filter-form"
                method="get"
                hx-get="{% url 'order:summary' %}"
                hx-target="#summary-table"
                hx-trigger="change"
                class="flex items-center">

              {{ filter_form.collection }}
          </form>

          <a id="download-btn"
             href="{% url 'order:order_summary_download' %}"
             class="px-4 py-2 bg-stone-600 hover:bg-stone-700 text-white font-semibold rounded-lg transition-colors">
            Download
          </a>
      </div>
    </div>
  </div>


<div class="" id="summary-table">
  {% include 'order/partials/_summary-table.html' %}
</div>

<script src="{% static 'js/download.js' %}" nonce="{{ request.csp_nonce }}"></script>

{% endblock %}
